<div class="p-6 mb-9 shadow-2xl rounded-lg">
    <header class="text-gray-400 font-semibold text-lg border-b border-blue-600 py-2">
        <div class="text-center">
            <p class="text-primary-light"></p>
            <a href="/post/{{id}}" class="text-center text-black capitalize">{{title}}</a>
        </div>

        <div class="column">
            <span class=""></span>
        </div>
    </header>

    <div class="card-content">
        <div class="content text-center">
            {{post_content}}
        </div>
        <div class="text-center mt-4">
            <b>{{user.username}}</b> |
            <a href="https://github.com/{{user.github}}"><i class="fab fa-github"></i></a>
            | {{format_date created_at}} | <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment"
                comments.length}}</a>
        </div>
    </div>
</div>